[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/user/Kyzs/Desktop/firefox_pra1.png]
row=6
col=0

[E2D09041D0901DBB]
row=2
col=0

[70D35C2C1C8ED47A]
row=0
col=0

[0000678400004823]
row=1
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/user/Kyzs]
row=5
col=0

