#*.json
__pycache__
*.o
#*.so
*.class
*.exe
*.log
#jquery*.js
build
_v_recycle_bin
bin
obj
*.suo
*.mdf
*.ldf
*.*~
*.pdf
*.doc
*.docx
bk
*.bk
.*-bk
*.md-bk
#doc
txt
*.txt
scot
source/src/c
source/src/C++
source/src/php
source/src/docbook-5.0
src_note/develop/others/db/sql/myorder.sql
#src_note/develop/others/c#
#src_note/develop/others/java_src
source/docs/tmp/星际I介绍/
src_note/tmp
src_note/markor

