#*.json
__pycache__
*.o
*.so
*.exe
*.log
#jquery*.js
build
_v_recycle_bin
bin
obj
*.suo
*.*~
*.pdf
*.epub
*.doc
*.docx
bk
*.bk
.*-bk
*.md-bk
#doc
txt
*.txt
scot
source/src/c
source/src/C++
source/src/php
source/src/docbook-5.0
#source/src
src_note/develop/others/db/sql/myorder.sql
java_src*
*.class
*.mdf
*.ldf
*.jar
c#_src*
source/docs/tmp/星际I介绍/
src_note/tmp
src_note--bk
markor.tar.xz
src_note/markor/diaries
src_note/markor/tmp
src_note/markor/.scot
