if exists(select * from sys.databases where name='newsxql')
use newsxql 
go

/****** Object:  Table [dbo].[COMMENTS]    Script Date: 2014/9/15 16:04:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMMENTS](
	[CID] [int] IDENTITY(1,1) NOT NULL,
	[CNID] [int] NOT NULL,
	[CCONTENT] [varchar](3000) NOT NULL,
	[CDATE] [datetime] NOT NULL,
	[CIP] [varchar](100) NOT NULL,
	[CAUTHOR] [varchar](100) NOT NULL,
 CONSTRAINT [CID] PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NEWS]    Script Date: 2014/9/15 16:04:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEWS](
	[NID] [int] IDENTITY(1,1) NOT NULL,
	[NTID] [int] NOT NULL,
	[NTITLE] [varchar](500) NOT NULL,
	[NAUTHOR] [varchar](50) NOT NULL,
	[NCREATEDATE] [datetime] NULL,
	[NPICPATH] [varchar](255) NULL,
	[NCONTENT] [text] NOT NULL,
	[NMODIFYDATE] [datetime] NULL,
	[NSUMMARY] [varchar](4000) NOT NULL,
 CONSTRAINT [NID] PRIMARY KEY CLUSTERED 
(
	[NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NEWS_USERS]    Script Date: 2014/9/15 16:04:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEWS_USERS](
	[uid] [int] IDENTITY(1,1) NOT NULL,
	[uname] [varchar](20) NOT NULL,
	[upwd] [varchar](20) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TOPIC]    Script Date: 2014/9/15 16:04:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TOPIC](
	[TID] [int] IDENTITY(1,1) NOT NULL,
	[TNAME] [varchar](50) NOT NULL,
 CONSTRAINT [TID] PRIMARY KEY CLUSTERED 
(
	[TID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[COMMENTS] ON 

INSERT [dbo].[COMMENTS] ([CID], [CNID], [CCONTENT], [CDATE], [CIP], [CAUTHOR]) VALUES (4, 73, N'无聊！！', CAST(0x00009DCE00E2494C AS DateTime), N'127.0.0.1', N'这家伙很懒什么也没留下')
INSERT [dbo].[COMMENTS] ([CID], [CNID], [CCONTENT], [CDATE], [CIP], [CAUTHOR]) VALUES (5, 108, N'很饱啊', CAST(0x00009DCE0104E380 AS DateTime), N'127.0.0.1', N'那只虫子')
INSERT [dbo].[COMMENTS] ([CID], [CNID], [CCONTENT], [CDATE], [CIP], [CAUTHOR]) VALUES (11, 82, N'评论一下 我是admin', CAST(0x00009CCA00415C08 AS DateTime), N'127.0.0.1', N'admin')
SET IDENTITY_INSERT [dbo].[COMMENTS] OFF
SET IDENTITY_INSERT [dbo].[NEWS] ON 

SET IDENTITY_INSERT [dbo].[NEWS] OFF
SET IDENTITY_INSERT [dbo].[NEWS_USERS] ON 

INSERT [dbo].[NEWS_USERS] ([uid], [uname], [upwd]) VALUES (1, N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[NEWS_USERS] OFF
SET IDENTITY_INSERT [dbo].[TOPIC] ON 

INSERT [dbo].[TOPIC] ([TID], [TNAME]) VALUES (1, N'国内')
INSERT [dbo].[TOPIC] ([TID], [TNAME]) VALUES (2, N'国际')
INSERT [dbo].[TOPIC] ([TID], [TNAME]) VALUES (3, N'军事')
SET IDENTITY_INSERT [dbo].[TOPIC] OFF
ALTER TABLE [dbo].[COMMENTS] ADD  CONSTRAINT [DF_COMMENTS_CDATE]  DEFAULT (getdate()) FOR [CDATE]
GO
ALTER TABLE [dbo].[COMMENTS]  WITH CHECK ADD  CONSTRAINT [CIN_NID] FOREIGN KEY([CNID])
REFERENCES [dbo].[NEWS] ([NID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COMMENTS] CHECK CONSTRAINT [CIN_NID]
GO
ALTER TABLE [dbo].[NEWS]  WITH CHECK ADD  CONSTRAINT [NEWS_TOPIC] FOREIGN KEY([NTID])
REFERENCES [dbo].[TOPIC] ([TID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NEWS] CHECK CONSTRAINT [NEWS_TOPIC]
GO
