USE [master]
GO
/****** Object:  Database [AirQualityDB]    Script Date: 2021/4/2 星期五 23:12:15 ******/
CREATE DATABASE [AirQualityDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AirQualityDB', FILENAME = N'I:\Temp\Data\db\SQLServer\Test\AirQualityDB.mdf' , SIZE = 7168KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AirQualityDB_log', FILENAME = N'I:\Temp\Data\db\SQLServer\Test\AirQualityDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AirQualityDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AirQualityDB]
GO
/****** Object:  Table [dbo].[AirQualityInfo]    Script Date: 2021/4/2 星期五 23:12:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AirQualityInfo](
	[AirQualityID] [int] IDENTITY(1,1) NOT NULL,
	[StationID] [int] NOT NULL,
	[InputName] [nvarchar](20) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[PM] [int] NOT NULL,
	[Level] [int] NOT NULL,
	[Notes] [nvarchar](50) NULL,
 CONSTRAINT [PK_AirQualityInfo] PRIMARY KEY CLUSTERED 
(
	[AirQualityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Branches]    Script Date: 2021/4/2 星期五 23:12:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[cityAreaId] [int] NOT NULL,
	[address] [nvarchar](100) NOT NULL,
	[telephone] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CityArea]    Script Date: 2021/4/2 星期五 23:12:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityArea](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StationInfo]    Script Date: 2021/4/2 星期五 23:12:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StationInfo](
	[StationID] [int] IDENTITY(1,1) NOT NULL,
	[StationName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_StationInfo] PRIMARY KEY CLUSTERED 
(
	[StationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 2021/4/2 星期五 23:12:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[name] [nvarchar](128) NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AirQualityInfo] ON 

INSERT [dbo].[AirQualityInfo] ([AirQualityID], [StationID], [InputName], [StartDate], [EndDate], [PM], [Level], [Notes]) VALUES (3, 2, N'刘留', CAST(0x0000A32600000000 AS DateTime), CAST(0x0000A33100000000 AS DateTime), 90, 1, N'可以正常外出')
INSERT [dbo].[AirQualityInfo] ([AirQualityID], [StationID], [InputName], [StartDate], [EndDate], [PM], [Level], [Notes]) VALUES (4, 3, N'李季', CAST(0x0000A33100000000 AS DateTime), CAST(0x0000A33800000000 AS DateTime), 234, 6, N'尽量不要在室外')
SET IDENTITY_INSERT [dbo].[AirQualityInfo] OFF
INSERT [dbo].[Branches] ([id], [name], [cityAreaId], [address], [telephone]) VALUES (1, N'海淀区xx路支行', 3, N'海淀区xx路128号', N'87654321')
INSERT [dbo].[Branches] ([id], [name], [cityAreaId], [address], [telephone]) VALUES (2, N'东城支行', 1, N'东城区xx路12号', N'89292233')
INSERT [dbo].[Branches] ([id], [name], [cityAreaId], [address], [telephone]) VALUES (3, N'西城支行', 2, N'西城区xx路34号', N'87659292')
INSERT [dbo].[CityArea] ([id], [name]) VALUES (1, N'东城区')
INSERT [dbo].[CityArea] ([id], [name]) VALUES (2, N'西城区')
INSERT [dbo].[CityArea] ([id], [name]) VALUES (3, N'海淀区')
SET IDENTITY_INSERT [dbo].[StationInfo] ON 

INSERT [dbo].[StationInfo] ([StationID], [StationName]) VALUES (1, N'海淀区一号检测站')
INSERT [dbo].[StationInfo] ([StationID], [StationName]) VALUES (2, N'海淀区二号检测站')
INSERT [dbo].[StationInfo] ([StationID], [StationName]) VALUES (3, N'朝阳区一号检测站')
SET IDENTITY_INSERT [dbo].[StationInfo] OFF
ALTER TABLE [dbo].[AirQualityInfo]  WITH CHECK ADD  CONSTRAINT [FK_AirQualityInfo_StationInfo] FOREIGN KEY([StationID])
REFERENCES [dbo].[StationInfo] ([StationID])
GO
ALTER TABLE [dbo].[AirQualityInfo] CHECK CONSTRAINT [FK_AirQualityInfo_StationInfo]
GO
USE [master]
GO
