USE [master]
GO
/****** Object:  Database [FinanProduct]    Script Date: 2021/4/2 星期五 23:18:06 ******/
CREATE DATABASE [FinanProduct]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FinanProduct', FILENAME = N'I:\Temp\Data\db\SQLServer\Test\FinanProduct.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FinanProduct_log', FILENAME = N'I:\Temp\Data\db\SQLServer\Test\FinanProduct_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FinanProduct].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FinanProduct]
GO
/****** Object:  Table [dbo].[FinacingProduct]    Script Date: 2021/4/2 星期五 23:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinacingProduct](
	[Id] [nvarchar](10) NOT NULL,
	[Risk] [int] NOT NULL,
	[Income] [nvarchar](10) NOT NULL,
	[SaleStarting] [datetime] NOT NULL,
	[SaleEnd] [datetime] NOT NULL,
	[End] [datetime] NOT NULL,
 CONSTRAINT [PK_FinacingProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[FinacingProduct] ([Id], [Risk], [Income], [SaleStarting], [SaleEnd], [End]) VALUES (N'104448', 3, N'7.10%', CAST(0x0000A35E00000000 AS DateTime), CAST(0x0000A36300000000 AS DateTime), CAST(0x0000A38400000000 AS DateTime))
INSERT [dbo].[FinacingProduct] ([Id], [Risk], [Income], [SaleStarting], [SaleEnd], [End]) VALUES (N'310176', 2, N'5.80%', CAST(0x0000A36400000000 AS DateTime), CAST(0x0000A36800000000 AS DateTime), CAST(0x0000A38E00000000 AS DateTime))
INSERT [dbo].[FinacingProduct] ([Id], [Risk], [Income], [SaleStarting], [SaleEnd], [End]) VALUES (N'310816', 2, N'5.55%', CAST(0x0000A36200000000 AS DateTime), CAST(0x0000A36800000000 AS DateTime), CAST(0x0000A3AA00000000 AS DateTime))
ALTER TABLE [dbo].[FinacingProduct]  WITH CHECK ADD  CONSTRAINT [CK_FinacingProduct] CHECK  (([Risk]=(3) OR [Risk]=(2) OR [Risk]=(1) OR [Risk]=(0)))
GO
ALTER TABLE [dbo].[FinacingProduct] CHECK CONSTRAINT [CK_FinacingProduct]
GO
USE [master]
GO
