USE [master]
GO
/****** Object:  Database [House]    Script Date: 2021/4/2 星期五 23:21:12 ******/
CREATE DATABASE [House]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'House_DB', FILENAME = N'I:\Temp\Data\db\SQLServer\Project\House.mdf' , SIZE = 5120KB , MAXSIZE = 20480KB , FILEGROWTH = 1%)
 LOG ON 
( NAME = N'House_Log', FILENAME = N'I:\Temp\Data\db\SQLServer\Project\House_Log.ldf' , SIZE = 2048KB , MAXSIZE = 10240KB , FILEGROWTH = 320KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [House].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [House]
GO
/****** Object:  Table [dbo].[hos_district]    Script Date: 2021/4/2 星期五 23:21:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hos_district](
	[DID] [int] IDENTITY(1,1) NOT NULL,
	[DName] [varchar](50) NOT NULL,
 CONSTRAINT [PK__hos_dist__C0365630661E28C8] PRIMARY KEY CLUSTERED 
(
	[DID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hos_house]    Script Date: 2021/4/2 星期五 23:21:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hos_house](
	[HMID] [int] IDENTITY(1,1) NOT NULL,
	[UID] [int] NOT NULL,
	[SID] [int] NOT NULL,
	[HTID] [int] NOT NULL,
	[PRICE] [decimal](18, 0) NOT NULL,
	[TOPIC] [varchar](50) NOT NULL,
	[CONTENTS] [varchar](50) NOT NULL,
	[HTIME] [datetime] NOT NULL,
	[COPY] [varchar](50) NULL,
 CONSTRAINT [PK__hos_hous__132735CF2AF3CB72] PRIMARY KEY CLUSTERED 
(
	[HMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hos_street]    Script Date: 2021/4/2 星期五 23:21:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hos_street](
	[SID] [int] IDENTITY(1,1) NOT NULL,
	[SName] [varchar](50) NOT NULL,
	[SDID] [int] NOT NULL,
 CONSTRAINT [PK__hos_stre__CA195970B883B47D] PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hos_type]    Script Date: 2021/4/2 星期五 23:21:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hos_type](
	[HTID] [int] IDENTITY(1,1) NOT NULL,
	[HTName] [varchar](50) NOT NULL,
 CONSTRAINT [PK__hos_type__6EA31D0A2FC9836C] PRIMARY KEY CLUSTERED 
(
	[HTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sys_user]    Script Date: 2021/4/2 星期五 23:21:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sys_user](
	[UID] [int] IDENTITY(1,1) NOT NULL,
	[UName] [varchar](50) NOT NULL,
	[UPASSWORD] [varchar](50) NOT NULL,
 CONSTRAINT [PK__sys_user__C5B19602D021FD4F] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[hos_district] ON 

INSERT [dbo].[hos_district] ([DID], [DName]) VALUES (1, N'朝阳区')
INSERT [dbo].[hos_district] ([DID], [DName]) VALUES (2, N'东城区')
INSERT [dbo].[hos_district] ([DID], [DName]) VALUES (3, N'海锭区')
SET IDENTITY_INSERT [dbo].[hos_district] OFF
SET IDENTITY_INSERT [dbo].[hos_house] ON 

INSERT [dbo].[hos_house] ([HMID], [UID], [SID], [HTID], [PRICE], [TOPIC], [CONTENTS], [HTIME], [COPY]) VALUES (6, 1, 1, 1, CAST(1000 AS Decimal(18, 0)), N'中关村', N'中关村一条街', CAST(0x000087AC00000000 AS DateTime), NULL)
INSERT [dbo].[hos_house] ([HMID], [UID], [SID], [HTID], [PRICE], [TOPIC], [CONTENTS], [HTIME], [COPY]) VALUES (7, 2, 2, 2, CAST(2000 AS Decimal(18, 0)), N'东单', N'东单很多美食', CAST(0x000087AC00000000 AS DateTime), NULL)
INSERT [dbo].[hos_house] ([HMID], [UID], [SID], [HTID], [PRICE], [TOPIC], [CONTENTS], [HTIME], [COPY]) VALUES (8, 3, 3, 3, CAST(3000 AS Decimal(18, 0)), N'东单', N'东单很多美食', CAST(0x000087AC00000000 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[hos_house] OFF
SET IDENTITY_INSERT [dbo].[hos_street] ON 

INSERT [dbo].[hos_street] ([SID], [SName], [SDID]) VALUES (1, N'东单', 3)
INSERT [dbo].[hos_street] ([SID], [SName], [SDID]) VALUES (2, N'东四', 4)
INSERT [dbo].[hos_street] ([SID], [SName], [SDID]) VALUES (3, N'苏州街', 2)
SET IDENTITY_INSERT [dbo].[hos_street] OFF
SET IDENTITY_INSERT [dbo].[hos_type] ON 

INSERT [dbo].[hos_type] ([HTID], [HTName]) VALUES (1, N'两室一厅')
INSERT [dbo].[hos_type] ([HTID], [HTName]) VALUES (2, N'两室一卫')
INSERT [dbo].[hos_type] ([HTID], [HTName]) VALUES (3, N'一室一厅')
SET IDENTITY_INSERT [dbo].[hos_type] OFF
SET IDENTITY_INSERT [dbo].[sys_user] ON 

INSERT [dbo].[sys_user] ([UID], [UName], [UPASSWORD]) VALUES (1, N'将依然', N'kskhsih')
INSERT [dbo].[sys_user] ([UID], [UName], [UPASSWORD]) VALUES (2, N'李剑', N'kskhsih')
INSERT [dbo].[sys_user] ([UID], [UName], [UPASSWORD]) VALUES (3, N'李四', N'kskhsih')
SET IDENTITY_INSERT [dbo].[sys_user] OFF
ALTER TABLE [dbo].[hos_house] ADD  CONSTRAINT [DF__hos_house__PRICE__1920BF5C]  DEFAULT ((0)) FOR [PRICE]
GO
ALTER TABLE [dbo].[hos_house] ADD  CONSTRAINT [DF__hos_house__HTIME__1B0907CE]  DEFAULT (getdate()) FOR [HTIME]
GO
ALTER TABLE [dbo].[hos_house]  WITH CHECK ADD  CONSTRAINT [FK_HTID_HTID] FOREIGN KEY([HTID])
REFERENCES [dbo].[hos_type] ([HTID])
GO
ALTER TABLE [dbo].[hos_house] CHECK CONSTRAINT [FK_HTID_HTID]
GO
ALTER TABLE [dbo].[hos_house]  WITH CHECK ADD  CONSTRAINT [FK_SID_SID] FOREIGN KEY([SID])
REFERENCES [dbo].[hos_street] ([SID])
GO
ALTER TABLE [dbo].[hos_house] CHECK CONSTRAINT [FK_SID_SID]
GO
ALTER TABLE [dbo].[hos_house]  WITH CHECK ADD  CONSTRAINT [FK_UID_UID] FOREIGN KEY([UID])
REFERENCES [dbo].[sys_user] ([UID])
GO
ALTER TABLE [dbo].[hos_house] CHECK CONSTRAINT [FK_UID_UID]
GO
ALTER TABLE [dbo].[hos_street]  WITH CHECK ADD  CONSTRAINT [FK_SDID_DID] FOREIGN KEY([SDID])
REFERENCES [dbo].[hos_district] ([DID])
GO
ALTER TABLE [dbo].[hos_street] CHECK CONSTRAINT [FK_SDID_DID]
GO
ALTER TABLE [dbo].[hos_house]  WITH CHECK ADD  CONSTRAINT [CK__hos_house__HTIME__1BFD2C07] CHECK  (([HTIME]<=getdate()))
GO
ALTER TABLE [dbo].[hos_house] CHECK CONSTRAINT [CK__hos_house__HTIME__1BFD2C07]
GO
ALTER TABLE [dbo].[hos_house]  WITH CHECK ADD  CONSTRAINT [CK__hos_house__PRICE__1A14E395] CHECK  (([PRICE]>=(0)))
GO
ALTER TABLE [dbo].[hos_house] CHECK CONSTRAINT [CK__hos_house__PRICE__1A14E395]
GO
ALTER TABLE [dbo].[sys_user]  WITH CHECK ADD  CONSTRAINT [CK__sys_user__UPASSW__108B795B] CHECK  ((datalength([UPASSWORD])>=(6)))
GO
ALTER TABLE [dbo].[sys_user] CHECK CONSTRAINT [CK__sys_user__UPASSW__108B795B]
GO
USE [master]
GO
