USE [master]
GO
/****** Object:  Database [HRSys]    Script Date: 2021/4/2 星期五 23:22:27 ******/
CREATE DATABASE [HRSys]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HRSys', FILENAME = N'I:\Temp\Data\db\SQLServer\Test\HRSys.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HRSys_log', FILENAME = N'I:\Temp\Data\db\SQLServer\Test\HRSys_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HRSys].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HRSys]
GO
/****** Object:  Table [dbo].[Attendence]    Script Date: 2021/4/2 星期五 23:22:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Attendence](
	[AttendId] [int] IDENTITY(1,1) NOT NULL,
	[StaffName] [nvarchar](20) NOT NULL,
	[DeptId] [int] NOT NULL,
	[AttendDate] [datetime] NOT NULL,
	[AttendIn] [varchar](5) NULL,
	[AttendOut] [varchar](5) NULL,
	[Remark] [nvarchar](500) NULL,
 CONSTRAINT [PK_Attendence] PRIMARY KEY CLUSTERED 
(
	[AttendId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Department]    Script Date: 2021/4/2 星期五 23:22:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DeptId] [int] IDENTITY(1,1) NOT NULL,
	[DeptName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[DeptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Attendence] ON 

INSERT [dbo].[Attendence] ([AttendId], [StaffName], [DeptId], [AttendDate], [AttendIn], [AttendOut], [Remark]) VALUES (1, N'白小莉', 1, CAST(0x0000A48D00000000 AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Attendence] ([AttendId], [StaffName], [DeptId], [AttendDate], [AttendIn], [AttendOut], [Remark]) VALUES (3, N'赵鹏', 1, CAST(0x0000A48D00000000 AS DateTime), N'8:30', N'17:55', N'加班半小时')
INSERT [dbo].[Attendence] ([AttendId], [StaffName], [DeptId], [AttendDate], [AttendIn], [AttendOut], [Remark]) VALUES (4, N'李俊鹏', 2, CAST(0x0000A48B00000000 AS DateTime), N'8:45', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Attendence] OFF
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([DeptId], [DeptName]) VALUES (1, N'市场部')
INSERT [dbo].[Department] ([DeptId], [DeptName]) VALUES (2, N'人事行政部')
INSERT [dbo].[Department] ([DeptId], [DeptName]) VALUES (3, N'软件开发部')
SET IDENTITY_INSERT [dbo].[Department] OFF
ALTER TABLE [dbo].[Attendence]  WITH CHECK ADD  CONSTRAINT [FK_Attendence_Department] FOREIGN KEY([DeptId])
REFERENCES [dbo].[Department] ([DeptId])
GO
ALTER TABLE [dbo].[Attendence] CHECK CONSTRAINT [FK_Attendence_Department]
GO
USE [master]
GO
