USE [master]
GO
/****** Object:  Database [Library]    Script Date: 2021/4/2 星期五 23:23:23 ******/
CREATE DATABASE [Library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Library_DB', FILENAME = N'I:\Temp\Data\db\SQLServer\Project\Library.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 15%)
 LOG ON 
( NAME = N'Library_Log', FILENAME = N'I:\Temp\Data\db\SQLServer\Project\Library_Log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 15%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Library]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 2021/4/2 星期五 23:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Book](
	[BID] [nvarchar](50) NOT NULL,
	[BName] [nvarchar](50) NOT NULL,
	[Author] [nvarchar](50) NULL,
	[PubComp] [varchar](20) NULL,
	[PubDate] [datetime] NULL,
	[BCount] [int] NULL,
	[Price] [money] NULL,
	[BTotal] [int] NULL,
 CONSTRAINT [PK_BID] PRIMARY KEY CLUSTERED 
(
	[BID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Borrow]    Script Date: 2021/4/2 星期五 23:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrow](
	[RID] [nvarchar](50) NOT NULL,
	[BID] [nvarchar](50) NOT NULL,
	[LendDate] [datetime] NOT NULL,
	[WillDate] [datetime] NOT NULL,
	[ReturnDate] [datetime] NULL,
 CONSTRAINT [PK_RID_BID] PRIMARY KEY CLUSTERED 
(
	[RID] ASC,
	[BID] ASC,
	[LendDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Penalty]    Script Date: 2021/4/2 星期五 23:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Penalty](
	[RID] [nvarchar](50) NOT NULL,
	[BID] [nvarchar](50) NOT NULL,
	[PDate] [datetime] NOT NULL,
	[PType] [int] NULL,
	[Amount] [money] NULL,
 CONSTRAINT [PK_RID_BID_Pdate] PRIMARY KEY CLUSTERED 
(
	[RID] ASC,
	[BID] ASC,
	[PDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Reader]    Script Date: 2021/4/2 星期五 23:23:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Reader](
	[RID] [nvarchar](50) NOT NULL,
	[RName] [varchar](50) NOT NULL,
	[LendNum] [int] NULL,
	[RAddress] [varchar](50) NULL,
 CONSTRAINT [PK_RID] PRIMARY KEY CLUSTERED 
(
	[RID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Book] ([BID], [BName], [Author], [PubComp], [PubDate], [BCount], [Price], [BTotal]) VALUES (N'ISBN_2012_3s', N'《你的世界我曾经走过》', N'困在井底的鱼', N'未知', NULL, 20, 2.0000, 200)
INSERT [dbo].[Book] ([BID], [BName], [Author], [PubComp], [PubDate], [BCount], [Price], [BTotal]) VALUES (N'ISBN_922SP', N'《灯火》', N'萧萧', N'未知', NULL, 20, 1.0000, 500)
INSERT [dbo].[Borrow] ([RID], [BID], [LendDate], [WillDate], [ReturnDate]) VALUES (N'so2', N'ISBN_922SP', CAST(0x0000A15800000000 AS DateTime), CAST(0x0000A4A200E05D63 AS DateTime), NULL)
INSERT [dbo].[Borrow] ([RID], [BID], [LendDate], [WillDate], [ReturnDate]) VALUES (N'ysl2', N'ISBN_2012_3s', CAST(0x00009FCB00000000 AS DateTime), CAST(0x0000A4A200E05D63 AS DateTime), NULL)
INSERT [dbo].[Penalty] ([RID], [BID], [PDate], [PType], [Amount]) VALUES (N'so2', N'ISBN_922SP', CAST(0x0000A11D00000000 AS DateTime), 2, 20.0000)
INSERT [dbo].[Penalty] ([RID], [BID], [PDate], [PType], [Amount]) VALUES (N'ysl2', N'ISBN_2012_3s', CAST(0x0000A15C00000000 AS DateTime), 3, 50.0000)
INSERT [dbo].[Reader] ([RID], [RName], [LendNum], [RAddress]) VALUES (N'so2', N'海底有鱼', 2, NULL)
INSERT [dbo].[Reader] ([RID], [RName], [LendNum], [RAddress]) VALUES (N'ysl2', N'枯木逢春', 3, NULL)
ALTER TABLE [dbo].[Borrow] ADD  CONSTRAINT [DF__Borrow__LendDate__182C9B23]  DEFAULT (getdate()) FOR [LendDate]
GO
ALTER TABLE [dbo].[Borrow] ADD  CONSTRAINT [DF__Borrow__WillDate__1920BF5C]  DEFAULT (getdate()+(1)) FOR [WillDate]
GO
ALTER TABLE [dbo].[Borrow] ADD  CONSTRAINT [DF__Borrow__ReturnDa__1A14E395]  DEFAULT (NULL) FOR [ReturnDate]
GO
ALTER TABLE [dbo].[Borrow]  WITH CHECK ADD  CONSTRAINT [FK_BID_B] FOREIGN KEY([BID])
REFERENCES [dbo].[Book] ([BID])
GO
ALTER TABLE [dbo].[Borrow] CHECK CONSTRAINT [FK_BID_B]
GO
ALTER TABLE [dbo].[Borrow]  WITH CHECK ADD  CONSTRAINT [FK_RID_R] FOREIGN KEY([RID])
REFERENCES [dbo].[Reader] ([RID])
GO
ALTER TABLE [dbo].[Borrow] CHECK CONSTRAINT [FK_RID_R]
GO
ALTER TABLE [dbo].[Penalty]  WITH CHECK ADD  CONSTRAINT [FK_BID_BID] FOREIGN KEY([BID])
REFERENCES [dbo].[Book] ([BID])
GO
ALTER TABLE [dbo].[Penalty] CHECK CONSTRAINT [FK_BID_BID]
GO
ALTER TABLE [dbo].[Penalty]  WITH CHECK ADD  CONSTRAINT [FK_RID_RID] FOREIGN KEY([RID])
REFERENCES [dbo].[Reader] ([RID])
GO
ALTER TABLE [dbo].[Penalty] CHECK CONSTRAINT [FK_RID_RID]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [CK__Book__BCount__117F9D94] CHECK  (([BCount]>(1)))
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [CK__Book__BCount__117F9D94]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [CK__Book__BID__108B795B] CHECK  (([BID] like 'ISBN%'))
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [CK__Book__BID__108B795B]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [CK__Book__Price__1273C1CD] CHECK  (([Price]>(0)))
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [CK__Book__Price__1273C1CD]
GO
ALTER TABLE [dbo].[Penalty]  WITH CHECK ADD  CONSTRAINT [CK__Penalty__Amount__1CF15040] CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[Penalty] CHECK CONSTRAINT [CK__Penalty__Amount__1CF15040]
GO
ALTER TABLE [dbo].[Penalty]  WITH CHECK ADD  CONSTRAINT [CK__Penalty__PType__1BFD2C07] CHECK  (([PType]=(3) OR [PType]=(2) OR [PType]=(1)))
GO
ALTER TABLE [dbo].[Penalty] CHECK CONSTRAINT [CK__Penalty__PType__1BFD2C07]
GO
ALTER TABLE [dbo].[Reader]  WITH CHECK ADD  CONSTRAINT [CK__Reader__LendNum__15502E78] CHECK  (([LendNum]>(0)))
GO
ALTER TABLE [dbo].[Reader] CHECK CONSTRAINT [CK__Reader__LendNum__15502E78]
GO
USE [master]
GO
