USE [master]
GO
/****** Object:  Database [Live]    Script Date: 2021/4/2 星期五 23:24:13 ******/
CREATE DATABASE [Live]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Live', FILENAME = N'I:\Temp\Data\db\SQLServer\Project\Live.mdf' , SIZE = 5120KB , MAXSIZE = 10240KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Live_log', FILENAME = N'I:\Temp\Data\db\SQLServer\Project\Live_log.ldf' , SIZE = 5120KB , MAXSIZE = 10240KB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Live].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Live]
GO
/****** Object:  Table [dbo].[Carbon]    Script Date: 2021/4/2 星期五 23:24:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Carbon](
	[CBID] [int] IDENTITY(1,1) NOT NULL,
	[CBName] [varchar](30) NOT NULL,
	[CBUnit] [varchar](10) NOT NULL,
	[CBValue] [float] NOT NULL,
	[CID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CBID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2021/4/2 星期五 23:24:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[CID] [int] IDENTITY(1,1) NOT NULL,
	[CName] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Carbon] ON 

INSERT [dbo].[Carbon] ([CBID], [CBName], [CBUnit], [CBValue], [CID]) VALUES (1, N'电', N'度', 0.45, 4)
SET IDENTITY_INSERT [dbo].[Carbon] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CID], [CName]) VALUES (1, N'食')
INSERT [dbo].[Category] ([CID], [CName]) VALUES (2, N'行')
INSERT [dbo].[Category] ([CID], [CName]) VALUES (3, N'衣')
SET IDENTITY_INSERT [dbo].[Category] OFF
ALTER TABLE [dbo].[Carbon]  WITH CHECK ADD CHECK  (([CBValue]>(0)))
GO
USE [master]
GO
