USE [master]
GO
/****** Object:  Database [MyKTV]    Script Date: 2016年8月17日, 星期三 下午,14:37:19 ******/
CREATE DATABASE [MyKTV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyKTV.mdf', FILENAME = N'I:\src-note\src\DataBase\SQLServer\Project\MyKTV.mdf' , SIZE = 10240KB , MAXSIZE = 51200KB , FILEGROWTH = 2%)
 LOG ON 
( NAME = N'MyKTV_Log.ldf', FILENAME = N'I:\src-note\src\DataBase\SQLServer\Project\MyKTV_Log.ldf' , SIZE = 2048KB , MAXSIZE = 15360KB , FILEGROWTH = 1%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyKTV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyKTV]
GO
/****** Object:  Table [dbo].[admin_info]    Script Date: 2016年8月17日, 星期三 下午,14:37:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[admin_info](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[admin_pwd] [varchar](50) NOT NULL,
	[admin_name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[resource_path]    Script Date: 2016年8月17日, 星期三 下午,14:37:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[resource_path](
	[resource_id] [int] IDENTITY(1,1) NOT NULL,
	[resource_type] [nvarchar](100) NOT NULL,
	[resource_path] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[resource_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[singer_info]    Script Date: 2016年8月17日, 星期三 下午,14:37:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[singer_info](
	[singer_id] [int] IDENTITY(1,1) NOT NULL,
	[singer_name] [varchar](50) NOT NULL,
	[singertype_id] [int] NOT NULL,
	[singer_sex] [varchar](4) NULL,
	[singer_photo_url] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[singer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[singer_type]    Script Date: 2016年8月17日, 星期三 下午,14:37:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[singer_type](
	[singertype_id] [int] IDENTITY(1,1) NOT NULL,
	[singertype_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[singertype_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[song_info]    Script Date: 2016年8月17日, 星期三 下午,14:37:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[song_info](
	[song_id] [int] IDENTITY(1,1) NOT NULL,
	[song_name] [varchar](50) NOT NULL,
	[song_ab] [varchar](50) NOT NULL,
	[song_word_count] [int] NOT NULL,
	[songtype_id] [int] NOT NULL,
	[singer_id] [int] NULL,
	[song_url] [varchar](200) NOT NULL,
	[song_play_count] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[song_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[song_type]    Script Date: 2016年8月17日, 星期三 下午,14:37:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[song_type](
	[songtype_id] [int] IDENTITY(1,1) NOT NULL,
	[songtype_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[songtype_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[singer_info]  WITH CHECK ADD  CONSTRAINT [FK_singer_info_singer_type] FOREIGN KEY([singertype_id])
REFERENCES [dbo].[singer_type] ([singertype_id])
GO
ALTER TABLE [dbo].[singer_info] CHECK CONSTRAINT [FK_singer_info_singer_type]
GO
ALTER TABLE [dbo].[song_info]  WITH CHECK ADD  CONSTRAINT [FK_song_info_singer_info] FOREIGN KEY([singer_id])
REFERENCES [dbo].[singer_info] ([singer_id])
GO
ALTER TABLE [dbo].[song_info] CHECK CONSTRAINT [FK_song_info_singer_info]
GO
ALTER TABLE [dbo].[song_info]  WITH CHECK ADD  CONSTRAINT [FK_song_info_song_type] FOREIGN KEY([songtype_id])
REFERENCES [dbo].[song_type] ([songtype_id])
GO
ALTER TABLE [dbo].[song_info] CHECK CONSTRAINT [FK_song_info_song_type]
GO
USE [master]
GO
