USE [master]
GO
/****** Object:  Database [newsxql]    Script Date: 2021/4/2 星期五 23:26:02 ******/
CREATE DATABASE [newsxql]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'News_DB', FILENAME = N'I:\Temp\Data\db\SQLServer\Project\newsxql.mdf' , SIZE = 5120KB , MAXSIZE = 20480KB , FILEGROWTH = 2048KB )
 LOG ON 
( NAME = N'News_Log', FILENAME = N'I:\Temp\Data\db\SQLServer\Project\newsxql_Log.ldf' , SIZE = 2048KB , MAXSIZE = 20480KB , FILEGROWTH = 2048KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [newsxql].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [newsxql]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 2021/4/2 星期五 23:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[comments](
	[CID] [int] IDENTITY(1,1) NOT NULL,
	[CNID] [int] NOT NULL,
	[CCONTENT] [varchar](3000) NOT NULL,
	[CDATE] [datetime] NOT NULL,
	[CIP] [varchar](100) NOT NULL,
	[CAUTHOR] [varchar](100) NOT NULL,
 CONSTRAINT [CID] PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[news]    Script Date: 2021/4/2 星期五 23:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[news](
	[NID] [int] IDENTITY(1,1) NOT NULL,
	[NTID] [int] NOT NULL,
	[NTITLE] [varchar](500) NOT NULL,
	[NAUTHOR] [varchar](50) NOT NULL,
	[NCREATEDATE] [datetime] NULL,
	[NPICPATH] [varchar](255) NULL,
	[NCONTENT] [text] NOT NULL,
	[NMODIFYDATE] [datetime] NULL,
	[NSUMMARY] [varchar](4000) NOT NULL,
 CONSTRAINT [NID] PRIMARY KEY CLUSTERED 
(
	[NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[news_users]    Script Date: 2021/4/2 星期五 23:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[news_users](
	[uid] [int] IDENTITY(1,1) NOT NULL,
	[uname] [varchar](20) NOT NULL,
	[upwd] [varchar](20) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[topic]    Script Date: 2021/4/2 星期五 23:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[topic](
	[TID] [int] IDENTITY(1,1) NOT NULL,
	[TNAME] [varchar](50) NOT NULL,
 CONSTRAINT [TID] PRIMARY KEY CLUSTERED 
(
	[TID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[comments] ON 

INSERT [dbo].[comments] ([CID], [CNID], [CCONTENT], [CDATE], [CIP], [CAUTHOR]) VALUES (4, 73, N'无聊！！', CAST(0x00009DCE00E2494C AS DateTime), N'127.0.0.1', N'这家伙很懒什么也没留下')
INSERT [dbo].[comments] ([CID], [CNID], [CCONTENT], [CDATE], [CIP], [CAUTHOR]) VALUES (5, 108, N'很饱啊', CAST(0x00009DCE0104E380 AS DateTime), N'127.0.0.1', N'那只虫子')
INSERT [dbo].[comments] ([CID], [CNID], [CCONTENT], [CDATE], [CIP], [CAUTHOR]) VALUES (11, 82, N'评论一下 我是admin', CAST(0x00009CCA00415C08 AS DateTime), N'127.0.0.1', N'admin')
SET IDENTITY_INSERT [dbo].[comments] OFF
SET IDENTITY_INSERT [dbo].[news] ON 

SET IDENTITY_INSERT [dbo].[news] OFF
SET IDENTITY_INSERT [dbo].[news_users] ON 

INSERT [dbo].[news_users] ([uid], [uname], [upwd]) VALUES (1, N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[news_users] OFF
SET IDENTITY_INSERT [dbo].[topic] ON 

INSERT [dbo].[topic] ([TID], [TNAME]) VALUES (1, N'国内')
INSERT [dbo].[topic] ([TID], [TNAME]) VALUES (2, N'国际')
INSERT [dbo].[topic] ([TID], [TNAME]) VALUES (3, N'军事')
SET IDENTITY_INSERT [dbo].[topic] OFF
ALTER TABLE [dbo].[comments] ADD  CONSTRAINT [DF_COMMENTS_CDATE]  DEFAULT (getdate()) FOR [CDATE]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [CIN_NID] FOREIGN KEY([CNID])
REFERENCES [dbo].[news] ([NID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [CIN_NID]
GO
ALTER TABLE [dbo].[news]  WITH CHECK ADD  CONSTRAINT [NEWS_TOPIC] FOREIGN KEY([NTID])
REFERENCES [dbo].[topic] ([TID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[news] CHECK CONSTRAINT [NEWS_TOPIC]
GO
USE [master]
GO
