USE [master]
GO
/****** Object:  Database [Pets]    Script Date: 2021/4/2 星期五 23:28:43 ******/
CREATE DATABASE [Pets]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pets', FILENAME = N'I:\Temp\Data\db\SQLServer\TempDataBase\Pets.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Pets_log', FILENAME = N'I:\Temp\Data\db\SQLServer\TempDataBase\Pets_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pets].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pets]
GO
/****** Object:  Table [dbo].[PET]    Script Date: 2021/4/2 星期五 23:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PET](
	[PET_ID] [int] IDENTITY(1,1) NOT NULL,
	[PET_NAME] [nvarchar](50) NOT NULL,
	[PET_BREED] [nvarchar](50) NOT NULL,
	[PET_SEX] [nvarchar](10) NOT NULL,
	[BIRTHDAY] [datetime] NOT NULL,
	[DESCRIPTION] [nvarchar](400) NULL,
 CONSTRAINT [PK_PET] PRIMARY KEY CLUSTERED 
(
	[PET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[PET] ON 

INSERT [dbo].[PET] ([PET_ID], [PET_NAME], [PET_BREED], [PET_SEX], [BIRTHDAY], [DESCRIPTION]) VALUES (1, N'豆豆', N'拉布拉多犬', N'雄', CAST(0x00009D1300000000 AS DateTime), NULL)
INSERT [dbo].[PET] ([PET_ID], [PET_NAME], [PET_BREED], [PET_SEX], [BIRTHDAY], [DESCRIPTION]) VALUES (2, N'憨憨', N'拉布拉多犬', N'雌', CAST(0x00009E5F00000000 AS DateTime), NULL)
INSERT [dbo].[PET] ([PET_ID], [PET_NAME], [PET_BREED], [PET_SEX], [BIRTHDAY], [DESCRIPTION]) VALUES (3, N'饼饼', N'西施犬', N'雌', CAST(0x00009CAA00000000 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[PET] OFF
USE [master]
GO
