USE [master]
GO
/****** Object:  Database [QQ]    Script Date: 2021/4/2 星期五 23:30:45 ******/
CREATE DATABASE [QQ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QQ', FILENAME = N'I:\Temp\Data\db\SQLServer\TempDataBase\QQ.mdf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 15%)
 LOG ON 
( NAME = N'QQ_log', FILENAME = N'I:\Temp\Data\db\SQLServer\TempDataBase\QQ_log.ldf' , SIZE = 5120KB , MAXSIZE = 51200KB , FILEGROWTH = 1024KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QQ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QQ]
GO
/****** Object:  Table [dbo].[info]    Script Date: 2021/4/2 星期五 23:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[info](
	[Logname] [varchar](50) NOT NULL,
	[Logpwd] [varchar](50) NOT NULL,
 CONSTRAINT [PK_info] PRIMARY KEY CLUSTERED 
(
	[Logname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[info] ([Logname], [Logpwd]) VALUES (N'admin', N'admin')
INSERT [dbo].[info] ([Logname], [Logpwd]) VALUES (N'xiaobai', N'123')
USE [master]
GO
