USE [master]
GO
/****** Object:  Database [SMS]    Script Date: 2021/4/2 星期五 23:33:21 ******/
CREATE DATABASE [SMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SMS', FILENAME = N'I:\Temp\Data\db\SQLServer\Project\SMS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SMS_log', FILENAME = N'I:\Temp\Data\db\SQLServer\Project\SMS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SMS]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 2021/4/2 星期五 23:33:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepId] [tinyint] IDENTITY(1,1) NOT NULL,
	[DepName] [nvarchar](50) NOT NULL,
	[DepState] [tinyint] NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[DepId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Staff]    Script Date: 2021/4/2 星期五 23:33:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffId] [int] IDENTITY(1,1) NOT NULL,
	[StaffName] [nvarchar](50) NOT NULL,
	[DepId] [tinyint] NOT NULL,
	[StaffLevel] [nvarchar](50) NOT NULL,
	[JoinDate] [date] NULL,
	[State] [nvarchar](10) NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([DepId], [DepName], [DepState]) VALUES (1, N'营销', 1)
INSERT [dbo].[Department] ([DepId], [DepName], [DepState]) VALUES (2, N'财务', 1)
INSERT [dbo].[Department] ([DepId], [DepName], [DepState]) VALUES (3, N'综合', 1)
SET IDENTITY_INSERT [dbo].[Department] OFF
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([StaffId], [StaffName], [DepId], [StaffLevel], [JoinDate], [State]) VALUES (1, N'张丽', 1, N'普通员工', CAST(0xF4390B00 AS Date), N'在职')
INSERT [dbo].[Staff] ([StaffId], [StaffName], [DepId], [StaffLevel], [JoinDate], [State]) VALUES (2, N'张明', 2, N'普通员工', CAST(0xF4390B00 AS Date), N'离职')
INSERT [dbo].[Staff] ([StaffId], [StaffName], [DepId], [StaffLevel], [JoinDate], [State]) VALUES (3, N'刘大汉', 2, N'普通员工', CAST(0xF4390B00 AS Date), N'休假')
SET IDENTITY_INSERT [dbo].[Staff] OFF
ALTER TABLE [dbo].[Department] ADD  CONSTRAINT [DF_Department_DepState]  DEFAULT ((1)) FOR [DepState]
GO
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF_Staff_JoinDate]  DEFAULT (getdate()) FOR [JoinDate]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Department_DepId] FOREIGN KEY([DepId])
REFERENCES [dbo].[Department] ([DepId])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Department_DepId]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [CK_Table__State] CHECK  (([State]='休假' OR [State]='离职' OR [State]='在职'))
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [CK_Table__State]
GO
USE [master]
GO
