USE [master]
GO
/****** Object:  Database [Standard]    Script Date: 2021/4/2 星期五 23:33:53 ******/
CREATE DATABASE [Standard]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Standard', FILENAME = N'I:\Temp\Data\db\SQLServer\Test\Standard.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Standard_log', FILENAME = N'I:\Temp\Data\db\SQLServer\Test\Standard_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Standard].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Standard]
GO
/****** Object:  Table [dbo].[standard]    Script Date: 2021/4/2 星期五 23:33:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[standard](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[stdNum] [varchar](50) NOT NULL,
	[zhname] [varchar](40) NOT NULL,
	[version] [varchar](10) NOT NULL,
	[keys] [varchar](50) NOT NULL,
	[releaseDate] [date] NULL,
	[implDate] [date] NULL,
	[package] [varchar](100) NOT NULL,
 CONSTRAINT [PK_standard] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[standard] ON 

INSERT [dbo].[standard] ([id], [stdNum], [zhname], [version], [keys], [releaseDate], [implDate], [package]) VALUES (1, N'GB6657', N'玩具安全', N'2014', N'玩具、基本规范', CAST(0xB13A0B00 AS Date), CAST(0xCF3A0B00 AS Date), N'D:/Test')
SET IDENTITY_INSERT [dbo].[standard] OFF
USE [master]
GO
