USE [master]
GO
/****** Object:  Database [StudentDB]    Script Date: 2021/4/2 星期五 23:34:39 ******/
CREATE DATABASE [StudentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentDB_Data', FILENAME = N'I:\Temp\Data\db\SQLServer\TempDataBase\StudentDB.mdf' , SIZE = 5120KB , MAXSIZE = 20480KB , FILEGROWTH = 2%)
 LOG ON 
( NAME = N'StudentDB_Log', FILENAME = N'I:\Temp\Data\db\SQLServer\TempDataBase\StudentDB_Log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 2%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentDB]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2021/4/2 星期五 23:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[stu_id] [int] IDENTITY(1,1) NOT NULL,
	[stu_name] [varchar](50) NOT NULL,
	[stu_sex] [varchar](2) NULL,
	[stu_age] [int] NULL,
	[stu_email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[stu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([stu_id], [stu_name], [stu_sex], [stu_age], [stu_email]) VALUES (1, N'张欣', N'男', 20, N'zhangxin@163.com')
INSERT [dbo].[Student] ([stu_id], [stu_name], [stu_sex], [stu_age], [stu_email]) VALUES (2, N'王兰', N'女', 21, N'wanglan@163.com')
INSERT [dbo].[Student] ([stu_id], [stu_name], [stu_sex], [stu_age], [stu_email]) VALUES (3, N'刘亮', N'男', 20, N'8888888@qq.com')
SET IDENTITY_INSERT [dbo].[Student] OFF
USE [master]
GO
