USE [master]
GO
/****** Object:  Database [Users]    Script Date: 2021/4/2 星期五 23:37:34 ******/
CREATE DATABASE [Users]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Users_DB', FILENAME = N'I:\Temp\Data\db\SQLServer\Project\Users.mdf' , SIZE = 5120KB , MAXSIZE = 10240KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Users_Log', FILENAME = N'I:\Temp\Data\db\SQLServer\Project\Users_Log.ldf' , SIZE = 2048KB , MAXSIZE = 10240KB , FILEGROWTH = 1024KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Users].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Users]
GO
/****** Object:  Table [dbo].[UserList]    Script Date: 2021/4/2 星期五 23:37:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserList](
	[username] [varchar](20) NOT NULL,
	[userpwd] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[UserList] ([username], [userpwd]) VALUES (N'admin1', N'admin')
INSERT [dbo].[UserList] ([username], [userpwd]) VALUES (N'admin2', N'admin')
INSERT [dbo].[UserList] ([username], [userpwd]) VALUES (N'admin3', N'admin')
USE [master]
GO
