USE [master]
GO
/****** Object:  Database [Work]    Script Date: 2021/4/2 星期五 23:38:21 ******/
CREATE DATABASE [Work]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Work', FILENAME = N'I:\Temp\Data\db\SQLServer\Test\Work.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Work_log', FILENAME = N'I:\Temp\Data\db\SQLServer\Test\Work_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Work].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Work]
GO
/****** Object:  Table [dbo].[Working]    Script Date: 2021/4/2 星期五 23:38:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Working](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](20) NOT NULL,
	[Content] [nvarchar](200) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_Working] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Working] ON 

INSERT [dbo].[Working] ([Id], [Title], [Content], [Date], [Type]) VALUES (1, N'出差做技术支持', N'做Linux运维，维护三台服务器', CAST(0x0000A55600BF39F1 AS DateTime), 1)
INSERT [dbo].[Working] ([Id], [Title], [Content], [Date], [Type]) VALUES (2, N'主持部门会议', N'主持部门会议', CAST(0x0000A55600BF7884 AS DateTime), 2)
INSERT [dbo].[Working] ([Id], [Title], [Content], [Date], [Type]) VALUES (3, N'做新员工培训', N'培训新员工', CAST(0x0000A55600BF9F9C AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Working] OFF
ALTER TABLE [dbo].[Working] ADD  CONSTRAINT [DF_Working_Date]  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Working]  WITH CHECK ADD  CONSTRAINT [CK_Working] CHECK  (([Type]=(3) OR [Type]=(2) OR [Type]=(1)))
GO
ALTER TABLE [dbo].[Working] CHECK CONSTRAINT [CK_Working]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-技术
2-行政
3-人事' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Working', @level2type=N'CONSTRAINT',@level2name=N'CK_Working'
GO
USE [master]
GO
